@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao site da veterinária PetVet</h1>
    
    <p><img src="https://vivablog.vivareal.com.br/wp-content/uploads/2013/11/animais-de-estimacao.jpg"></p>
    <p>O consultório do seu amigão. Aqui nos cuidados do seu pet com todo amor e carinho. Temos a missão de trazer o
        melhor atendendimento e tratamento que o seu querido amigão merece, pode contar conosco!</p>
</div>
