@{
    ViewData["Title"] = "Serviços";
}

<h2>@ViewData["Title"]</h2>

<h5> Conheça nossos principais serviços para seu amigão.</h5>

<ul>
    <li>Banho
        <ul>
            <li>Banho completo</li>
            <li>R$ 50,00</li>
        </ul>
    </li>

    <li>Tosa
        <ul>
            <li>Tosa completa</li>
            <li>R$ 100,00</li>
        </ul>
    </li>

    <li>Consulta
        <ul>
            <li>Consulta completa</li>
            <li>R$ 100,00</li>
        </ul>
    </li>

</ul>


